@charset "utf-8";
/* CSS Document */

@media screen and (max-width:500px){ 	
	#contenedor{
		width:100%;
	}
	#areaDeTrabajo{
		width:100%;
	}
	#menuV{
		margin-top:2%;
		width:100%;
		height:50%;
		background-color:#FF0000;
	}
	#cartel-anuncio{
		display:none;	
	}
	#slideshow{
		height:90%;
	}
	.form-labels{
		display:none;
	}
	.form-values{
		width:100%;
	}
	#img_usuario{		
		height: 30px;
		width: 30px;
	}
	#container_usuario{
		width: 160px;
	}
}


